/*!
 * Theme Footer styles
 * Author UI Department of Realtyna Inc.
 * Copyright 2019 Realtyna Inc. | realtyna.com
 */
#footer
{
  background-color: $co-4;
  color:darken($co-3,10%);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  a
  {
    color:darken($co-3,10%);
    &:hover
    {
      color:$link-color;
    }
  }
}
.footer-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.four-columns
{
  .re-footer-column
  {
    width: 25%;
  }
}
.three-columns
{
  .re-footer-column
  {
    width: 33.33333%;
  }
}
.two-columns
{
  .re-footer-column
  {
    width: 50%;
  }
}
.re-footer-top-area
{
  padding: 20px 0;
  .re-footer-column
  {
    @include for-tablet
    {
      width: 100%;
    }
    @include for-phone
    {
      width: 100%;
    }
  }
  .widget_nav_menu,.widget_recent_entries
  {
    li
    {
      margin-bottom:10px;
    }
  }
}
.re-footer-bottom-area
{
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 10px;
}

.re-footer-column
{
  @include box-sizing("border-box");
  float: left;
  padding: 0 15px;
  .widget-container
  {
    padding:15px 0;
  }
  .widget-title
  {
    font-size: 18px;
    color:$co-1;
    margin-bottom: 10px;
  }
}


