/*!
 * Theme Colors
 * Author UI Department of Realtyna Inc.
 * Copyright 2019 Realtyna Inc. | realtyna.com
 */
$main-color: #004274;
$secondary-color: #ec1c2a;
$link-color: #00aeef;
$text-color1: #666666;
$text-color2: #888888;
$post-title-color: #1c2029;
$post-title-font-size: 20px;
$single-post-title-font-size: 28px;

//Global colors
$co-0: #000000;
$co-1: #ffffff;
$co-2: #eeeeee;
$co-3: #cccccc;
$co-4: #1c2029;
$co-5: #808080;
$co-6: #b3b3b3;
$co-7: #d5d5d5;
$co-8: #464655;
$co-9: #58cc1f;
$co-10: #283c50;
$co-11: #ff8f17;
$co-12: #009cff;
$co-13: #e5e5e5;
$co-14: #444444;
$co-15: #158bf5;
$co-16: #333;
$co-17: #236ca0;
$co-18: #1a1a1a;
$co-19: #d9d9d9;
$co-20: #999;
$co-21: #f2f2f2;
$co-22: #666666;
$co-23: #00bb27;
$co-24: #3087cb;
$co-25: #f4faff;
$co-26: #c7d5df;
